<h1>Articles listing page</h1>

<table>

  <thead>                   # table head
    <tr>                    # table row
      <th>Title</th>        # table heading
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td>placeholder</td>
    </tr>
    <% end %>
  </tbody>
</table>
